/* Font Style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* Shared Style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-tittle {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

/* nav ul li a {
    text-decoration: none;
} */

nav li a {
    text-decoration: none;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-tittle {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 500px;
}

/* header background image */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}