/* Font Style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* Shared Style */
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-tittle {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

/* nav ul li a {
    text-decoration: none;
} */

nav li a {
    text-decoration: none;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 110px 35px 30px 250px;
}

.banner-content {
    width: 580px;
    padding: 20px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-tittle {
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic {
    width: 500px;
}

/* header background image */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    /* background-size: 100px; */
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about me */
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #474747;
}

.secondary-background {
    background-color: #fff8f3;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: 800;
}

/* text center */
.text-center {
    text-align: center;
    padding: 10px;
}

/* skills section styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.single-skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}